*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.addtopic {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.popover {
    padding: 3px;
    background-color: rgb(233, 220, 220);
    width: 150px;
}

#green {
    text-align: center;
    padding: 10px;
    background-color: green;
}

#yellow {
    text-align: center;
    padding: 10px;
    background-color: yellow;
}

#pink {
    text-align: center;
    padding: 10px;
    background-color: pink;
}

#red {
    text-align: center;
    padding: 10px;
    background-color: red;
}

.app {
    width: 600px;
    min-height: 600px;
    background: rgb(123, 123, 200);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-container {
    text-align: center;
    margin-top: 50px;
}

.home-container h2 {
    font-size: 35px;
    color: #fff;
}

.home-container form {
    margin-top: 15%;
}

.home-container input {
    border: none;
    outline: none;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    padding: 3px 8px;
    color: rgb(139, 134, 134);
}

.home-container button {
    margin-top: 25px;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 400;
    color: #111
}

.home-container button:hover {
    background: #aaa;
    color: #fff;
}

.dashboard-container {
    text-align: center;
    margin-top: 50px;
}

.dashboard-container h2 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 50px;
}

.dashboard {
    text-align: center;
    background: rgb(246, 102, 13);
    width: 300px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.dashboard button {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 8px 35px;
    border-radius: 5px;
    border: none;
    background: rgb(184, 180, 180);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.dashboard button:hover {
    background: #aaa;
    color: #fff;
    cursor: pointer;
}

.topic-details {
    width: 50%;
    min-height: 200px;
    background: rgb(184, 180, 180);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 25px;
}

.topic-details p {
    font-size: 17px;
    color: #fff;
    margin-bottom: 15px;
}

.topic {
    margin-bottom: 5px;
}

.topic span {
    color: #fff;
    font-size: 15px;
}

.addtopic-container {
    text-align: center;
    margin-top: 50px;
}

.addtopic-container h2 {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
}

.title-container span {
    display: inline-block;
    margin-right: 8px;
    color: #111;
}

.title-container input {
    height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgb(195, 193, 193);
    color: #111;
    padding: 5px 8px;
}

.text-area {
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgb(195, 193, 193);
    color: #111;
}

.text-content {
    margin: 30px auto 0 auto;
    padding: 10px;
    max-width: 500px;
    width: 500px;
    min-height: 300px;
    word-break: break-all;
    border: 1px solid #aaa;
    border-radius: 7px;
    background-color:  rgb(195, 193, 193);
    color: #111;
} 

.save-btn {
    display: inline-block;
    width: 100px;
    margin-bottom: 30px;
    padding: 5px 8px;
    background: rgb(195, 193, 193);
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
}
.save-btn:hover {
    background: rgb(230, 225, 225);
    cursor: pointer;
}


/* tooltip */

.tooltip {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    padding: 2px 5px;
    border-bottom: 1px dotted black;
    cursor: pointer;
    margin-right: 4px;
  }

  .tooltip:hover {
    border: 1px solid #111;
    border-radius: 3px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


